{% extends 'base.html' %}
{% block content %}
    <main>

        <!-- Banner start -->
        {% set mainphoto = choiced['mainFoto'] %}
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url({{mainphoto}});">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>{{choiced['title']}}</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="/">DMD</a></li>
                                    <li><a href="/blog"><span>Blog</span></a></li>
                                    <li><span class="active">{{choiced['author']}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

        <!-- Single blog start  -->
        <section id="blog-section" class="blog-area mt-90">
            <div class="container">
                <div class="row">
                    <!-- Blog contents -->
                    <div class="col-xl-8 col-lg-8 col-md-12">
                        <!-- Blog content details -->
                        <div class="blog-content style-01 mt-30">
                            <div class="thumb">
                                <img src="{{choiced['contentFoto']}}" alt="blog image">
                            </div>
                            <h3 class="title mt-30">
                                {{choiced['title']}}
                            </h3>
                            <div class="meta-info mt-20">
                                <ul class="d-flex">
                                    <li>
                                        <a class="cat-1st" href="#!">
                                            <i class="fa-solid fa-pen-to-square"></i> 
                                            {{choiced['category']}}
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#!"><i class="fa fa-comment"></i> 
                                            {{choiced['len']}} Komentarzy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!">
                                            <i class="fa fa-calendar"></i>
                                            {{choiced['data']}}
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                            <p class="text mt-20">
                                {{choiced['introduction']}}
                            </p>
                            <blockquote class="mt-35">
                                <p>
                                    {{choiced['highlight']}}
                                </p>

                                <p><span>{{choiced['author']}}</span></p>
                            </blockquote>

                            <ul class="blog-d-list pl-30 mt-20">
                                {% for point in choiced['additionalList'] %}
                                    <li>
                                        <i class="fa-solid fa-angle-right"></i> {{point}}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Blog comments area -->
                        <div class="comments-area mt-50" id="comment-section">
                            {% if choiced['len'] > 0 %}
                                <h3 class="comments-title">Komentarze ({{choiced['len']}})</h3>
                                {% for comm in choiced['comments'].values() %}
                                    <div class="row single-comment-wrap">
                                        <div class="thumb col-sm-3">
                                            {% if comm['avatar'] %}
                                                <img src="{{comm['avatar']}}" alt="comment images">
                                            {% else %}
                                                <img src="static/images/author-noface.jpg" alt="comment images">
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h5 class="title">{{comm['user']}}  <span><i class="fa-solid fa-calendar-days"></i> {{comm['data-time']}}</span></h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="text mb-10">{{comm['message']}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <ul class="horizontal-list">
                                                        {% for star in range(comm['user_stars']) %}
                                                            <li><i class="fa fa-star"></i></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="comment-form-wrap mt-50">
                                <h3 class="reply-title">Give your Reply</h3>
                                <p>Your email address will not be published. Required fields are marked *</p>
                                <div id="form-messages"></div>
                                <form id="ajax-contact" method="post" action="mailer.php" class="comment-form mt-15">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group mt-30">
                                                <input type="text" id="name" name="name" class="form-control" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mt-30">
                                                <input type="email" id="email" name="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group textarea mt-30">
                                                <textarea name="message" rows="5" id="message" class="form-control" placeholder="Comments"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group submit-btn mt-30">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-right icon-arrow before"></i>
                                                    <span class="label">Submit Request</span>
                                                    <i class="flaticon-right icon-arrow after"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Blog sidebar -->
                    <div class="col-lg-4">
                        <div class="blog-sidebar-wrapper pl-30 xs-pl-0 sm-pl-0 md-pl-0 mt-30 md-mt-50 xs-mt-50">
                            <div class="blog-sidebar-widget mb-55">
                                <div class="blog-sidebar-widget-content">
                                    <div class="blog-sidebar-about">
                                        <div class="featured-author text-center">
                                            <a href="#comment-section">
                                                <img src="{{choiced['author_avatar']}}" alt="">
                                            </a>
                                            <h6 class="featured-author-title mt-30">
                                                <a href="#comment-section">{{choiced['author']}}</a></h6>
                                            <small class="designation">Autor Posta</small>
                                            <p>
                                                {{choiced['author_about']}}
                                            </p>
                                            {% if choiced['author_facebook'] or choiced['author_twitter'] or choiced['author_instagram']%}
                                                <div class="featured-author-social mt-25">
                                                    {% if choiced['author_facebook'] %}
                                                        <a href="{{choiced['author_facebook']}}" target="_blank"><i class="fa fa-facebook"></i></a>
                                                    {% endif %}
                                                    {% if choiced['author_twitter'] %}
                                                        <a href="{{choiced['author_twitter']}}" target="_blank"><i class="fa fa-twitter"></i></a>
                                                    {% endif %}
                                                    {% if choiced['author_instagram'] %}
                                                        <a href="{{choiced['author_instagram']}}" target="_blank"><i class="fa fa-instagram"></i></a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-sidebar-widget mb-55">
                                <div class="blog-sidebar-widget-head mb-30">
                                    <h3 class="blog-sidebar-widget-title">Tagi</h3>
                                </div>
                                <div class="blog-sidebar-widget-content">
                                    <div class="tagcloud">
                                        {% for tag in choiced['tags'] %}
                                            <a href="/find-by-tags?tag={{tag[1:]}}">{{tag[1:]}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="blog-sidebar-widget mb-55">
                                <div class="blog-sidebar-widget-content">
                                    <div class="blog-sidebar-widget-head mb-30">
                                        <h3 class="blog-sidebar-widget-title">Przeszukaj Blog</h3>
                                    </div>
                                    <div class="blog-sidebar-search p-relative">
                                        <form method="POST" action="{{ url_for('searchBlog') }}" enctype="multipart/form-data">
                                            <input type="text" placeholder="Search news" name="query" required>
                                            <button type="submit">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-sidebar-widget mb-55">
                                <div class="blog-sidebar-widget-head mb-30">
                                    <h3 class="blog-sidebar-widget-title">Polecane Blogi</h3>
                                </div>
                                <div class="blog-sidebar-widget-content">
                                    <div class="rc-post-wrapper">
                                        {% for rPost in recentPosts %}
                                            <div class="rc-post d-flex align-items-start mt-20">
                                                <div class="rc-thumb pr-20">
                                                    <a href="/blog-one?post={{rPost['id']}}"><img src="{{rPost['contentFoto']}}" alt=""></a>
                                                </div>
                                                <div class="rc-content">
                                                    <h6 class="rc-title"><a href="/blog-one?post={{rPost['id']}}">{{rPost['title']}}</a></h6>
                                                    <div class="rc-meta">
                                                        <span><i class="fa-solid fa-calendar-days"></i> {{rPost['data']}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="blog-sidebar-widget mb-55">
                                <div class="blog-sidebar-widget-head mb-30">
                                    <h3 class="blog-sidebar-widget-title">Kategorie Blogów</h3>
                                </div>
                                <div class="blog-sidebar-widget-content">
                                    <ul>
                                        {% for cat, count in cat_dict.items() %}
                                            {% if count > 1 %}
                                                <li><a href="/find-by-category?category={{cat}}"><i class="fa-solid fa-angle-right"></i> {{cat}} <span>({{count}})</span></a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Single blog end -->

    </main>

{% endblock %}