{% extends 'base.html' %}
{% block content %}

    <main>

        <!-- Banner start -->
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url(static/images/banner-subpage.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>Faq</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="/">DMD</a></li>
                                    <li><span class="active">Najczęściej zadawane pytania</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

        <!-- Faqs start -->
        <section id="faqs-section" class="mt-110 mb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="about-block section-title style-02">
                            <span class="subtitle">FAQ - Najczęściej Zadawane Pytania</span>
                            <h2 class="title">Najczęściej Zadawane<span> Pytania</span></h2>
                            <p class="text mt-30">
                                Witajcie w naszym dziale FAQ! Poniżej znajdziecie odpowiedzi na najczęściej 
                                zadawane pytania dotyczące naszej platformy. Jeśli masz dodatkowe pytania, 
                                skontaktuj się z nami.
                            </p>
                        </div>
                        <div class="accordion-items mt-30 pt-20">
                            <h4>Jak mogę się zarejestrować na stronie?</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Aby się zarejestrować, wystarczy zapisać się do naszego Newslettera, 
                                    użyj formularza w stopce na stronie głównej. 
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Jak mogę zmienić swoje imię w subskrypcji?</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Aby zmienić swoje imię w subskrypcji napisz z zarejestrowanego u nas swojego adresu email na 
                                    <a href="mailto:biuro@dmdbudownictwo.pl">biuro@dmdbudownictwo.pl</a> ze swoją prośbą a my wyślemy Ci informację zwrotną.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Jak mogę zaktualizować swój adres w subskrypcji?</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Aby zaktualizować swój adres w subskrypcji, zarejestruj się jeszcze raz do naszego Newslettera, 
                                    użyj formularza w stopce na stronie głównej. 
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Czy istnieje możliwość anulowania mojej subskrypcji?</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Tak, możesz anulować swoją subskrypcję w każdej chwili. Napisz wiadomość z zarejestrowanego u nas swojego 
                                    adresu email na <a href="mailto:biuro@dmdbudownictwo.pl">biuro@dmdbudownictwo.pl</a> ze swoją prośbą, a my wyślemy Ci informację zwrotną. Pamiętaj, 
                                    że po anulowaniu subskrypcji stracisz komentowania i konwersacji na platformie.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Czy mogę korzystać z platformy na więcej niż jednym urządzeniu?</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Tak, nasza platforma umożliwia korzystanie na wielu urządzeniach.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Jak mogę skontaktować się z zespołem wsparcia technicznego?</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Jeśli masz pytania lub napotykasz problemy, skorzystaj z formularza kontaktowego dostępnego 
                                    w sekcji Pomoc lub napisz bezpośrednio na adres e-mail naszego działu wsparcia: <a href="mailto:biuro@dmdbudownictwo.pl">biuro@dmdbudownictwo.pl</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- Faqs end -->

    </main>

{% endblock %}