{% extends 'base.html' %}
{% block content %}
    <main>
        <!-- Banner start -->
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url(static/images/banner-zespol.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>Nasz zespół</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="/">DMD</a></li>
                                    <li><span class="active">Zespół</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

       <!-- Team start style two -->
       <section id="team-section" class="team-area mt-100">
        <div class="container">
            <div class="row align-items-center mb-30">
                <div class="col-lg-6">
                    <div class="service-title section-title style-01">
                        <span class="subtitle">Nasz Zespół</span>
                        <h2 class="title"><span>Nasze Osiągnięcia</span> Naszą Siłą </h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-title-paragraph">
                        <p class="text"></p>
                            Poznaj nasz zespół ekspertów, który z pasją, precyzją i doświadczeniem 
                            realizuje unikalne projekty. Sprawdź, dlaczego nasza ekipa to fundament 
                            naszych sukcesów.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="row mt-30">
                    {% for member in fullListTeam %}
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="team-block mt-30">
                                <div class="team-img">
                                    <div class="team-shape-img">
                                        <img src="static/images/hero-shape.png" alt="">
                                    </div>
                                    <img src="{{ member['EMPLOYEE_PHOTO'] }}" alt="">
                                </div>
                                <div class="team-content">
                                    <h4>{{ member['EMPLOYEE_NAME'] }}</h4>
                                    <span>{{ member['EMPLOYEE_ROLE'] }}</span>
                                    <div class="team-social d-flex mt-10">
                                        <h6>Kontakt: </h6>
                                        {% if member['PHONE'] or member['EMAIL'] or member['FACEBOOK'] or member['LINKEDIN'] %}
                                            <ul class="d-flex">
                                                {% if member['PHONE'] %}
                                                    <li><a href="tel:{{ member['PHONE'] }}"><i class="fa fa-phone"></i></a></li>
                                                {% endif %}
                                                {% if member['EMAIL'] %}
                                                    <li><a href="mailto:{{ member['EMAIL'] }}"><i class="fa fa-envelope"></i></a></li>
                                                {% endif %}
                                                {% if member['FACEBOOK'] %}
                                                    <li><a href="{{ member['FACEBOOK'] }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                {% endif %}
                                                {% if member['LINKEDIN'] %}
                                                    <li><a href="{{ member['LINKEDIN'] }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Team end -->

    </main>
{% endblock %}