{% extends 'base.html' %}
{% block content %}

    <main>

        <!-- Banner start -->
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url(static/images/banner-subpage.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>Polityka prywatności</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="/">DMD</a></li>
                                    <li><span class="active">Polityka prywatności</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

        <!-- Faqs start -->
        <section id="faqs-section" class="mt-110">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="about-block section-title style-02">
                            <span class="subtitle">What is one your mind!</span>
                            <h2 class="title">Frequently Asked<span> Questions</span></h2>
                            <p class="text mt-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="accordion-items mt-30 pt-20">
                            <h4>What is a creative agency?</h4>
                            <div class="accordion-text mt-20">
                                <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance.
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Are the photos shown in demo pages included in the package?</h4>
                            <div class="accordion-text mt-20">
                                You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Can Arden be used through self-shelf host?</h4>
                            <div class="accordion-text mt-20">
                                <strong>It is hidden by default,</strong> until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                                overflow.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="faq-btn mt-50">
                            <a href="about.html" class="btn btn-primary">
                                <i class="flaticon-right icon-arrow before"></i>
                                <span class="label">Ask your questions</span>
                                <i class="flaticon-right icon-arrow after"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Faqs end -->

    </main>

{% endblock %}