{% extends 'base.html' %}
{% block content %}

    <main>

        <!-- Banner start -->
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url(static/images/banner-subpage.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>Polityka prywatności</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="/">DMD</a></li>
                                    <li><span class="active">Polityka prywatności</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

        <!-- Faqs start -->
        <section id="faqs-section" class="mt-110 mb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="about-block section-title style-02">
                            <span class="subtitle">Polityka Prywatności</span>
                            <h2 class="title">Polityka<span> Prywatności</span></h2>
                            <p class="text mt-30">
                                Dbamy o Twoją prywatność i pragniemy, abyś był informowany o tym, w jaki sposób gromadzimy, 
                                używamy i chronimy Twoje dane osobowe. Przeczytaj poniższe informacje dotyczące naszej Polityki Prywatności.
                            </p>
                        </div>
                        <div class="accordion-items mt-30 pt-20">
                            <h4>Gromadzenie i Przetwarzanie Danych Osobowych.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Dokładamy wszelkich starań, aby chronić Twoje dane osobowe. Gromadzimy jedynie 
                                    niezbędne informacje, takie jak imię i adres e-mail, w celu dostarczania Ci 
                                    istotnych aktualizacji i informacji dotyczących naszej społeczności.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Cel Przetwarzania Danych.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Twoje dane osobowe są przetwarzane w celu dostarczania informacji, ofert, 
                                    oraz personalizacji doświadczenia związanego z naszą społecznością.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Bezpieczeństwo Danych.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Zapewniamy, że Twoje dane są u nas bezpieczne. Stosujemy odpowiednie środki 
                                    techniczne i organizacyjne, aby chronić je przed nieautoryzowanym dostępem czy utratą.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Udostępnianie Danych.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Nie udostępniamy Twoich danych osobowych stronom trzecim bez Twojej wyraźnej zgody. 
                                    Dbamy o prywatność naszych użytkowników.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Prawa Użytkowników.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Masz prawo do dostępu, poprawiania, usuwania lub ograniczania przetwarzania 
                                    swoich danych osobowych. Skontaktuj się z nami, jeśli chcesz skorzystać z tych praw.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Przekazywanie Danych do Innych Krajów.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    W niektórych przypadkach, Twoje dane osobowe mogą być przekazywane do innych 
                                    krajów zgodnie z obowiązującymi przepisami prawa.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Cookies i Technologie Śledzące.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Używamy plików cookie i innych technologii śledzących w celu analizy ruchu na stronie, 
                                    personalizacji treści oraz dostarczania reklam. Możesz zarządzać ustawieniami plików 
                                    cookie w swojej przeglądarce.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Bezpieczeństwo Transmisji Danych.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Podjęliśmy środki bezpieczeństwa w celu ochrony transmisji danych, jednakże 
                                    nie możemy zagwarantować bezpieczeństwa absolutnego podczas przesyłania danych przez internet.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Kontakt z Nami.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Jeśli masz pytania dotyczące naszej Polityki Prywatności, skontaktuj się z nami 
                                    pod adresem <a href="mailto:biuro@dmdbudownictwo.pl">biuro@dmdbudownictwo.pl</a>
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Zgoda na Przetwarzanie Danych.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Korzystając z naszej społeczności, wyrażasz zgodę 
                                    na przetwarzanie swoich danych osobowych zgodnie z niniejszą Polityką Prywatności.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Poinformowanie o Zmianach.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Informacje o zmianach w Polityce Prywatności będą udostępniane na naszej 
                                    stronie internetowej.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Zastosowanie Dla Dzieci.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Nasza społeczność nie jest przeznaczona dla dzieci poniżej 13 roku życia. 
                                    Nie gromadzimy świadomie danych od osób poniżej tego wieku.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Marketing Bezpośredni.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Możemy przesyłać Ci informacje marketingowe jedynie po uzyskaniu 
                                    Twojej wyraźnej zgody. Możesz zrezygnować z subskrypcji w dowolnym momencie.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Zmiana lub Usunięcie Danych.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Masz prawo żądania zmiany lub usunięcia swoich danych osobowych. 
                                    Skontaktuj się z nami w celu realizacji tych żądań.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Ważne Informacje Prawne.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Niniejsza Polityka Prywatności jest częścią naszych Warunków Korzystania. 
                                    Zapoznaj się również z nimi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- Faqs end -->

    </main>

{% endblock %}