{% extends 'base.html' %}
{% block content %}

    <main>

        <!-- Banner start -->
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url(static/images/banner-subpage.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>Pomoc</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="/">DMD</a></li>
                                    <li><span class="active">Pomoc dla użytkowników strony</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

        <!-- Faqs start -->
        <section id="faqs-section" class="mt-110 mb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="about-block section-title style-02">
                            <span class="subtitle">Witaj w Dziale Pomocy!</span>
                            <h2 class="title">Dział<span> Pomocy</span></h2>
                            <p class="text mt-30">
                                Nasz zespół jest tutaj, aby uprościć Twoje doświadczenie na naszej platformie. Poniżej znajdziesz kilka sekcji, 
                                które mogą Ci pomóc z zapytaniami, informacjami o polityce prywatności, zasadami korzystania oraz innymi kwestiami. 
                                Jeśli nadal potrzebujesz pomocy, skorzystaj z formularza kontaktowego lub skontaktuj się bezpośrednio z naszym zespołem. 
                                Jesteśmy gotowi, aby Ci pomóc!
                            </p>
                        </div>
                        <div class="accordion-items mt-30 pt-20">
                            <h4>Polityka Prywatności.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Zapoznaj się z naszą <a href="/subpage?target=polityka">polityką prywatności</a> aby dowiedzieć się, jak dbamy o bezpieczeństwo Twoich danych 
                                    osobowych. Twoja prywatność jest dla nas priorytetem.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Zasady Korzystania z Witryny.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Przeczytaj nasze <a href="/subpage?target=zasady">zasady korzystania z witryny</a>, aby zrozumieć reguły i warunki korzystania z naszych usług. 
                                    Zalecamy przestrzeganie tych zasad dla zwiększenia wydajności i bezpieczeństwa korzystania z platformy.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>FAQ's</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    W dziale <a href="/subpage?target=faq">FAQ's</a> znajdziesz odpowiedzi na najczęściej zadawane pytania. Sprawdź, czy znajdziesz 
                                    <a href="/subpage?target=faq">tu</a> rozwiązanie swoich wątpliwości przed skontaktowaniem się z nami.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Kontakt</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Potrzebujesz dodatkowej pomocy? Skorzystaj z <a href="/kontakt">formularza kontaktowego</a> lub napisz bezpośrednio na 
                                    adres e-mail naszego działu wsparcia: <a href="mailto:biuro@dmdbudownictwo.pl">biuro@dmdbudownictwo.pl</a>.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Zespół</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Poznaj nasz zespół! <a href="/my-zespol">Tutaj</a> znajdziesz informacje o osobach, które pracują na rzecz doskonalenia naszej 
                                    platformy i zapewnienia Ci najlepszej obsługi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- Faqs end -->

    </main>

{% endblock %}