{% extends 'base.html' %}
{% block content %}
    <main>
        <!-- Banner start -->
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url(static/images/banner-kontakt.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>Kontakt z namis</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="/">DMD</a></li>
                                    <li><span class="active">Kontakt</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

        <!-- Team start style two -->
        <section id="team-section" class="team-area mt-100">
            <div class="container">
                <div class="row align-items-center mb-30">
                    <div class="col-lg-6">
                        <div class="service-title section-title style-01">
                            <span class="subtitle">Our Experts</span>
                            <h2 class="title"><span>Our Expert Team</span> we serve for our clients </h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-title-paragraph">
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, totam temporibus ratione deserunt perspiciatis vel quo nisi saepe eaque magnam praesentium.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="row mt-30">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="team-block mt-30">
                                <div class="team-img">
                                    <div class="team-shape-img">
                                        <img src="assets/images/hero-shape.png" alt="">
                                    </div>
                                    <img src="assets/images/team/1.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <h4>Prestige Chong Da</h4>
                                    <span>General Manager</span>
                                    <div class="team-social d-flex mt-10">
                                        <h6>Share: </h6>
                                        <ul class="d-flex">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="team-block mt-30">
                                <div class="team-img">
                                    <img src="assets/images/team/2.jpg" alt="">
                                    <div class="team-shape-img">
                                        <img src="assets/images/hero-shape.png" alt="">
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h4>Ricardo Milanx</h4>
                                    <span>General Manager</span>
                                    <div class="team-social d-flex mt-10">
                                        <h6>Share: </h6>
                                        <ul class="d-flex">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="team-block mt-30">
                                <div class="team-img">
                                    <img src="assets/images/team/3.jpg" alt="">
                                    <div class="team-shape-img">
                                        <img src="assets/images/hero-shape.png" alt="">
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h4>Donald Jacky</h4>
                                    <span>Finance</span>
                                    <div class="team-social d-flex mt-10">
                                        <h6>Share: </h6>
                                        <ul class="d-flex">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="team-block mt-30">
                                <div class="team-img">
                                    <img src="assets/images/team/4.jpg" alt="">
                                    <div class="team-shape-img">
                                        <img src="assets/images/hero-shape.png" alt="">
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h4>D'costa Rivery</h4>
                                    <span>IT Specialist</span>
                                    <div class="team-social d-flex mt-10">
                                        <h6>Share: </h6>
                                        <ul class="d-flex">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="team-block mt-30">
                                <div class="team-img">
                                    <img src="assets/images/team/5.jpg" alt="">
                                    <div class="team-shape-img">
                                        <img src="assets/images/hero-shape.png" alt="">
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h4>Morinho D cruize</h4>
                                    <span>Sr. Executive</span>
                                    <div class="team-social d-flex mt-10">
                                        <h6>Share: </h6>
                                        <ul class="d-flex">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="team-block mt-30">
                                <div class="team-img">
                                    <img src="assets/images/team/6.jpg" alt="">
                                    <div class="team-shape-img">
                                        <img src="assets/images/hero-shape.png" alt="">
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h4>Albela Monthex</h4>
                                    <span>Executive</span>
                                    <div class="team-social d-flex mt-10">
                                        <h6>Share: </h6>
                                        <ul class="d-flex">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team end -->

    </main>
{% endblock %}