{% extends 'base.html' %}
{% block content %}
    <main>

        <!-- Banner start -->
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url(static/images/banner.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>Oferowane Usługi</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="/">DMD</a></li>
                                    <li><span class="active">Usługi</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

        <!-- project start -->
        <section id="project-section" class="mt-110 mb-30">
            <div class="container">
                <div class="row align-items-center mb-30">
                    <div class="col-lg-6 col-md-6">
                        <div class="service-title section-title style-01">
                            <span class="subtitle">Nasze usługi</span>
                            <h2 class="title">Świadczymy <span>kompleksowe usługi </span>od 2010 roku</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="section-title-paragraph style-01">
                            <p class="text">
                                Od lat zapewniamy naszym klientom profesjonalne usługi instalacyjne, dostosowane 
                                do indywidualnych potrzeb. Oferujemy szeroki wachlarz rozwiązań, od instalacji 
                                wodno-kanalizacyjnych, przez ogrzewanie podłogowe, aż po nowoczesne systemy fotowoltaiki. 
                                Sprawdź, jak możemy pomóc w realizacji Twojego projektu.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="project-block mt-25">
                            <div class="project-img">
                                <a href="/usluga-fotowoltaika"><img src="static/images/fotowoltaika-preview.jpg" alt=""></a>
                            </div>
                            <div class="project-content">
                                <div class="project-cat">
                                    <span>Fotowoltaika</span>
                                </div>
                                <h4 class="title">Obniż ceny za energię!</h4>
                                <div class="project-btn mt-20">
                                    <a href="/usluga-fotowoltaika">Sprawdź ofertę</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="project-block mt-25">
                            <div class="project-img">
                                <a href="/usluga-pompy-ciepla"><img src="static/images/pompy-ciepla-preview.jpg" alt=""></a>
                            </div>
                            <div class="project-content">
                                <div class="project-cat">
                                    <span>Pompy Ciepła</span>
                                </div>
                                <h4 class="title">Ekologiczne i ekonomiczne rozwiązanie!</h4>
                                <div class="project-btn mt-20">
                                    <a href="/usluga-pompy-ciepla">Sprawdź ofertę</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="project-block mt-25">
                            <div class="project-img">
                                <a href="/usluga-instalacje-elektryczne"><img src="static/images/instalacje-elektryczne-preview.jpg" alt=""></a>
                            </div>
                            <div class="project-content">
                                <div class="project-cat">
                                    <span>Instalacje Elektryczne</span>
                                </div>
                                <h4 class="title">Bezpieczna i nowoczesna instalacja!</h4>
                                <div class="project-btn mt-20">
                                    <a href="/usluga-instalacje-elektryczne">Sprawdź ofertę</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="project-block mt-25">
                            <div class="project-img">
                                <a href="/usluga-wentylacja-klimatyzacja"><img src="static/images/wentylacja-klimatyzacja-preview.jpg" alt=""></a>
                            </div>
                            <div class="project-content">
                                <div class="project-cat">
                                    <span>Wentylacja i Klimatyzacja</span>
                                </div>
                                <h4 class="title">Zadbaj o świeże powietrze i komfort!</h4>
                                <div class="project-btn mt-20">
                                    <a href="/usluga-wentylacja-klimatyzacja">Sprawdź ofertę</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="project-block mt-25">
                            <div class="project-img">
                                <a href="/usluga-rekuperacja"><img src="static/images/rekuperacja-preview.jpg" alt=""></a>
                            </div>
                            <div class="project-content">
                                <div class="project-cat">
                                    <span>Rekuperacja</span>
                                </div>
                                <h4 class="title">Odzyskaj energię i obniż koszty ogrzewania!</h4>
                                <div class="project-btn mt-20">
                                    <a href="/usluga-rekuperacja">Sprawdź ofertę</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="project-block mt-25">
                            <div class="project-img">
                                <a href="/usluga-ogrzewanie-podlogowe"><img src="static/images/ogrzewanie-podlogowe-preview.jpg" alt=""></a>
                            </div>
                            <div class="project-content">
                                <div class="project-cat">
                                    <span>Ogrzewanie Podłogowe</span>
                                </div>
                                <h4 class="title">Komfort cieplny w całym domu!</h4>
                                <div class="project-btn mt-20">
                                    <a href="/usluga-ogrzewanie-podlogowe">Sprawdź ofertę</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="project-block mt-25">
                            <div class="project-img">
                                <a href="/usluga-instalacje-wodno-kanalizacyjne"><img src="static/images/instalacje-wodno-kanalizacyjne-preview.jpg" alt=""></a>
                            </div>
                            <div class="project-content">
                                <div class="project-cat">
                                    <span>Instalacje Wodno-Kanalizacyjne</span>
                                </div>
                                <h4 class="title">Sprawna i bezpieczna instalacja!</h4>
                                <div class="project-btn mt-20">
                                    <a href="/usluga-instalacje-wodno-kanalizacyjne">Sprawdź ofertę</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="project-block mt-25">
                            <div class="project-img">
                                <a href="/usluga-instalacje-grzewcze"><img src="static/images/instalacje-grzewcze-preview.jpg" alt=""></a>
                            </div>
                            <div class="project-content">
                                <div class="project-cat">
                                    <span>Instalacje Grzewcze</span>
                                </div>
                                <h4 class="title">Komfort i oszczędność ciepła!</h4>
                                <div class="project-btn mt-20">
                                    <a href="/usluga-instalacje-grzewcze">Sprawdź ofertę</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="project-block mt-25">
                            <div class="project-img">
                                <a href="/usluga-instalacje-gazowe"><img src="static/images/instalacje-gazowe-preview.jpg" alt=""></a>
                            </div>
                            <div class="project-content">
                                <div class="project-cat">
                                    <span>Instalacje Gazowe</span>
                                </div>
                                <h4 class="title">Bezpieczeństwo i niezawodność!</h4>
                                <div class="project-btn mt-20">
                                    <a href="/usluga-instalacje-gazowe">Sprawdź ofertę</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </section>
        <!-- project end -->

    </main>
{% endblock %}