{% extends 'base.html' %}
{% block content %}

    <main>

        <!-- Banner start -->
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url(static/images/banner.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>Montaż Instalacji Fotowoltaicznej</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="/">DMD</a></li>
                                    <li><span class="active">Fotowoltaika</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

        <!-- project start -->
        <section id="single-project-section" class="mt-120 mb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row align-items-center">
                            <div class="col-lg-9">
                                <div class="single-project-img">
                                    <img src="static/images/fotowoltaika-main.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="project-info-list mt-20">
                                    <ul>
                                        <li><strong>Usługa:</strong> <span>Fotowoltaika</span></li>
                                        <li><strong>Korzyści:</strong> <span>Oszczędność na rachunkach za prąd, energia odnawialna.</span></li>
                                        <li><strong>Główne cechy:</strong> <span>Nowoczesne panele, szybki zwrot z inwestycji, ekologiczne rozwiązanie.</span></li>
                                        <li><strong>Kategoria:</strong> <span>Odnawialne źródła energii</span></li>
                                        <li><strong>Oferta:</strong> <span>Montaż instalacji fotowoltaicznych</span></li>
                                        <li><strong>Konserwacja:</strong> <span>Monitorowanie i serwis systemu</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-project-block mt-50 xs-mt-15">
                            <h3 class="title">Montaż instalacji fotowoltaicznych</h3>
                            <p class="text mt-20">
                                Zainwestuj w nowoczesne i ekologiczne rozwiązania dzięki instalacji fotowoltaicznej, która pozwala 
                                na produkcję energii elektrycznej ze słońca. Nasze systemy fotowoltaiczne obniżą Twoje rachunki 
                                za prąd i przyczynią się do ochrony środowiska. Oferujemy kompleksowy montaż instalacji 
                                fotowoltaicznych, dostosowanych do specyfiki Twojego budynku. Skontaktuj się z DMD Instalacje, 
                                aby uzyskać więcej informacji i zaplanować montaż fotowoltaiki.
                            </p>

                            <div>
                                <h3 class="title mt-25">Planowanie i Strategia</h3>
                                <ul class="service-detl-list mt-20">
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>Analiza możliwości instalacji fotowoltaiki na dachu lub gruncie</span></li>
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>Wybór odpowiedniej mocy paneli dla potrzeb użytkownika</span></li>
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>Optymalizacja systemu pod kątem efektywności energetycznej</span></li>
                                </ul>
                            </div>
                            <div class="single-project-content">
                                <div class="quote mt-30">
                                    <blockquote>
                                        <p>Fotowoltaika to przyszłość energetyczna, która pozwala uniezależnić się od rosnących cen energii. Nasze instalacje fotowoltaiczne są dopasowane do indywidualnych potrzeb klienta, gwarantując szybki zwrot z inwestycji i ochronę środowiska.</p>
                                    </blockquote>
                                </div>

                                <h3 class="title mt-35">Czym tak naprawdę jest instalacja fotowoltaiczna?</h3>
                                <p class="text mt-20">
                                    Instalacja fotowoltaiczna to system, który zamienia energię słoneczną na prąd elektryczny. 
                                    Składa się z paneli fotowoltaicznych montowanych na dachu lub gruncie oraz inwertera, który 
                                    przekształca prąd stały na zmienny. Dzięki fotowoltaice możesz uniezależnić się od rosnących cen energii, 
                                    obniżyć rachunki za prąd i przyczynić się do ochrony środowiska poprzez korzystanie z odnawialnych źródeł energii.
                                </p>
                            </div>

                            <h3 class="title mt-35">Zapraszamy do skorzystania z oferty montażu instalacji fotowoltaicznych</h3>
                            <p class="text mt-20">Zainwestuj w przyszłość i obniż rachunki za prąd dzięki instalacji fotowoltaicznej. Oferujemy montaż nowoczesnych systemów fotowoltaicznych, które pozwolą Ci czerpać energię ze słońca. Skontaktuj się z nami, aby uzyskać szczegółową ofertę i zacząć oszczędzać dzięki odnawialnym źródłom energii.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- project end -->

    </main>
{% endblock %}
