{% extends 'base.html' %}
{% block content %}

    <main>

        <!-- Banner start -->
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url(static/images/banner.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>Montaż Instalacji Grzewczej</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="/">DMD</a></li>
                                    <li><span class="active">Instalacje Grzewcze</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

        <!-- project start -->
        <section id="single-project-section" class="mt-120 mb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row align-items-center">
                            <div class="col-lg-9">
                                <div class="single-project-img">
                                    <img src="static/images/instalacje-grzewcze-main.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="project-info-list mt-20">
                                    <ul>
                                        <li><strong>Usługa:</strong> <span>Instalacje Grzewcze</span></li>
                                        <li><strong>Korzyści:</strong> <span>Efektywne ogrzewanie, oszczędność energii, komfort cieplny.</span></li>
                                        <li><strong>Główne cechy:</strong> <span>Nowoczesne systemy, niskie zużycie energii, precyzyjna regulacja temperatury.</span></li>
                                        <li><strong>Kategoria:</strong> <span>Systemy grzewcze</span></li>
                                        <li><strong>Oferta:</strong> <span>Montaż kotłów, ogrzewania podłogowego, pomp ciepła</span></li>
                                        <li><strong>Konserwacja:</strong> <span>Regularne przeglądy i serwis</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-project-block mt-50 xs-mt-15">
                            <h3 class="title">Montaż nowoczesnych instalacji grzewczych</h3>
                            <p class="text mt-20">Oferujemy montaż nowoczesnych systemów grzewczych, które zapewnią komfort cieplny i oszczędność energii w Twoim domu. Nasze instalacje grzewcze obejmują kotły gazowe, olejowe, elektryczne oraz systemy ogrzewania podłogowego. Dzięki naszym rozwiązaniom, Twój dom będzie energooszczędny, a systemy grzewcze dopasowane do Twoich potrzeb. Skontaktuj się z DMD Instalacje, aby uzyskać ofertę na montaż instalacji grzewczej dostosowanej do Twojego budynku.</p>


                            <div>
                                <h3 class="title mt-25">Planowanie i Strategia</h3>
                                <ul class="service-detl-list mt-20">
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>Dobór systemu grzewczego dostosowanego do potrzeb użytkowników</span></li>
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>Analiza efektywności energetycznej budynku</span></li>
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>Wykorzystanie nowoczesnych technologii oszczędzających energię</span></li>
                                </ul>
                            </div>
                            <div class="single-project-content">
                                <div class="quote mt-30">
                                    <blockquote>
                                        <p>Dzięki naszym instalacjom grzewczym zapewnisz sobie komfort cieplny przez cały rok, jednocześnie redukując koszty ogrzewania. Nowoczesne technologie i indywidualnie dopasowane rozwiązania sprawiają, że Twoje ogrzewanie będzie efektywne i ekonomiczne.</p>
                                    </blockquote>
                                </div>
                                

                                <h3 class="title mt-35">Czym tak naprawdę jest instalacja grzewcza?</h3>

                                <p class="text mt-20">Instalacja grzewcza to system, który dostarcza ciepło do pomieszczeń w budynku, zapewniając komfort termiczny w chłodniejsze dni. Może obejmować różne źródła energii, takie jak kotły gazowe, olejowe, elektryczne czy systemy ogrzewania podłogowego. Nowoczesne instalacje grzewcze są projektowane z myślą o oszczędności energii i maksymalnym komforcie użytkownika.</p>

                            </div>

                            <h3 class="title mt-35">Zapraszamy do skorzystania z oferty montażu instalacji grzewczych</h3>

                            <p class="text mt-20">Oferujemy nowoczesne instalacje grzewcze, które zapewnią komfort cieplny w Twoim domu oraz oszczędności na ogrzewaniu. Nasz zespół specjalistów zaprojektuje i zamontuje system dostosowany do Twoich potrzeb. Skontaktuj się z nami, aby otrzymać indywidualną wycenę i dowiedzieć się więcej o możliwościach montażu instalacji grzewczej.</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- project end -->

        <!-- Call to start -->
        <section id="call-to-section" data-jarallax='{"speed": 0.6}' class="">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="call-to-content text-center">
                                <span class="subtitle">Skontaktuj się z nami już teraz </span>
                                <h2 class="number mt-20 mb-20">Zespół DMD Instalacje czeka na kontakt z Tobą.</h2>
                                <h5>ul. Dworkowa 51, 05-082 Stare Babice</h5>
                                <div class="call-to-btn mt-30">
                                    <a href="/kontakt" class="btn btn-secondary">
                                        <i class="flaticon-right icon-arrow before"></i>
                                        <span class="label">Kontakt</span>
                                        <i class="flaticon-right icon-arrow after"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to end -->

        <!-- How we works start -->
        <section id="how-we-works-section" class="mt-120">
            <div class="container">
                <div class="row align-items-center mb-30">
                    <div class="col-lg-6 col-md-6">
                        <div class="service-title section-title style-01">
                            <span class="subtitle">Jak Realizujemy Projekty</span>
                            <h2 class="title"><span>Etapy współpracy </span> z DMD Instalacje</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="section-title-paragraph style-01">
                            <p class="text">
                                W DMD Instalacje dbamy o to, aby każdy etap realizacji zlecenia był przeprowadzony 
                                sprawnie, profesjonalnie i zgodnie z oczekiwaniami klienta. Nasz proces składa się 
                                z czterech kroków, które gwarantują najwyższą jakość i terminowość wykonania. 
                                Od pierwszego kontaktu aż po końcową realizację – jesteśmy z Tobą na każdym etapie.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="how-we-works-shape-01">
                            <img src="static/images/dot-shape-orange.png" alt="">
                        </div>
                        <div class="how-we-works-shape-02">
                            <img src="static/images/ab-sahpe.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="how-we-works-line"></div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="how-we-works-block mt-30">
                            <span class="how-we-works-subtitle">Etap 01</span>
                            <h4 class="title">Konsultacja i analiza</h4>
                            <p class="text">Dokładnie omawiamy Twoje potrzeby, aby stworzyć idealne rozwiązanie.</p>
                            <div class="how-we-works-num mt-50">
                                <span>01</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="how-we-works-block mt-30">
                            <span class="how-we-works-subtitle">Etap 02</span>
                            <h4 class="title">Projektowanie rozwiązania</h4>
                            <p class="text">Tworzymy indywidualny projekt instalacji, dopasowany do specyfiki budynku.</p>
                            <div class="how-we-works-num mt-50">
                                <span>02</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <!-- active -->
                        <div class="how-we-works-block mt-30">
                            <span class="how-we-works-subtitle">Etap 03</span>
                            <h4 class="title">Realizacja i montaż</h4>
                            <p class="text">Nasi specjaliści sprawnie instalują systemy zgodnie z najwyższymi standardami.</p>
                            <div class="how-we-works-num mt-50">
                                <span>03</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="how-we-works-block mt-30">
                            <span class="how-we-works-subtitle">Etap 04</span>
                            <h4 class="title">Serwis i wsparcie</h4>
                            <p class="text">Zapewniamy stałe wsparcie techniczne i serwis po zakończeniu prac.</p>
                            <div class="how-we-works-num mt-50">
                                <span>04</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How we works end -->

        <!-- Get in touch start -->
        <section id="get-in-touch-section" data-jarallax='{"speed": 0.6}' class="mt-120">
            <div class="overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="get-in-touch-content">
                                <h3 class="title"> Napisz do<span> Nas</span> </h3>

                                <div class="request-form mt-30">
                                    <form id="ajax-contact" method="post" class="request-page-form" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                    <input type="text" id="name" name="name" class="form-control" placeholder="Imię">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                    <input type="email" id="email" name="email" class="form-control" placeholder="E-mail">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <input type="text" id="subject" name="subject" class="form-control" placeholder="Temat">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <textarea id="message" name="message" class="form-control" placeholder="Twoja wiadomość"></textarea>
                                                </div>
                                            </div>
                                            <div class="row mt-10">
                                                <div class="col-1">
                                                    <input class="polityka-switch" type="checkbox" id="polityka_przywatnosci" name="condition">
                                                    <label class="polityka-switch-label" for="polityka_przywatnosci"></label>
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label" style="font-size: 13px; line-height: 1.2; margin-left: 25px;" for="polityka_przywatnosci">
                                                        Akceptuję politykę prywatności DMD INSTALACJE, niniejszym wyrażam zgodę na 
                                                        przetwarzanie moich danych osobowych zawartych w niniejszym formularzu w celach 
                                                        kontaktowych, zgodnie z obowiązującą polityką prywatności.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-message" id="komunikat_z_serwera"></div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group submit-btn mt-50">
                                                    <button class="btn btn-primary">
                                                        <i class="flaticon-right icon-arrow before"></i>
                                                        <span class="label">Wyślij wiadomość</span>
                                                        <i class="flaticon-right icon-arrow after"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="get-in-touch">
                                <img src="static/images/s-pic-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Get in touch end -->

    </main>
{% endblock %}

{% block bottom_scripts %}
<script>
    document.querySelector('.polityka-switch-label').addEventListener('click', function() {
        const input = document.getElementById('polityka_przywatnosci');
        input.checked = !input.checked;
        input.value = input.checked ? 1 : 0; // Aktualizacja value checkboxa
    });

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('ajax-contact').addEventListener('submit', function(e) {
                e.preventDefault(); // Zapobiegaj domyślnej akcji formularza
                const formData = new FormData(this); // Użyj 'this', aby odnieść się do formularza
                const jsonFormData = Object.fromEntries(formData.entries());

                fetch('/send-mess-pl', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(jsonFormData) // Przekazuj dane z formularza
                })
                .then(response => response.json())
                .then(data => {
                // console.log(data);

                const komunikatDiv = document.getElementById("komunikat_z_serwera");
                if (komunikatDiv) {
                    komunikatDiv.innerHTML = data.message;
                    // Ustawienie koloru komunikatu na podstawie wartości 'success'
                    if(data.success) {
                            komunikatDiv.style.color = "#063e90"; // Sukces - Niebieski
                            document.getElementById('ajax-contact').reset();
                    } else {
                            komunikatDiv.style.color = "#ff3535"; // Niepowodzenie - czerwony
                    }
                    setTimeout(function() {
                            komunikatDiv.innerHTML = '';
                    }, 5000);
                }
                })
                .catch((error) => {
                console.error('Error:', error);
                });
        });
    });


    
</script>
{% endblock %}
