{% extends 'base.html' %}
{% block content %}

    <main>

        <!-- Banner start -->
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url(assets/images/banner.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>Project Details</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="index.html">Home</a></li>
                                    <li><span class="active">Project Details</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

        <!-- project start -->
        <section id="single-project-section" class="mt-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row align-items-center">
                            <div class="col-lg-9">
                                <div class="single-project-img">
                                    <img src="assets/images/projects/project-single.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="project-info-list mt-20">
                                    <ul>
                                        <li><strong>Client:</strong> <span>Monstorun Belly</span></li>
                                        <li><strong>Location:</strong> <span>#405, Lan Streen, Los Vegas, USA</span></li>
                                        <li><strong>Category:</strong> <span>Web design & development, Graphics design</span></li>
                                        <li><strong>Start Date:</strong> <span>February 10, 2022</span></li>
                                        <li><strong>End Date:</strong> <span>February 10, 2022</span></li>
                                        <li><strong>Website:</strong> <span>demolink.org</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-project-block mt-50 xs-mt-15">
                            <h3 class="title">techniques & implementation process </h3>
                            <p class="text mt-20">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget
                                dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio
                                et ante tincidunt tempus. Donec vitae sapien ut liber. venenatis faucibus. Nullam quis ante. Ut enim.</p>

                            <div>
                                <h3 class="title mt-25">Planing & Strategy</h3>
                                <ul class="service-detl-list mt-20">
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>Marketing options and rates</span></li>
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>The old somehow form a family that's the way the Love Boat promis.</span></li>
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>The ability to turnaround consulting</span></li>
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>Customer engagement matters</span></li>
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>Research beyond the business plan</span></li>
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>The Love Boat promis someg for everyone..</span></li>
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>Boat promises something for everyone that this groupfor everyone that this group.</span></li>
                                    <li class="d-flex"> <span><i class="flaticon-check-mark"></i></span> <span>Somehow form a family that's the way to morries.</span></li>
                                </ul>
                            </div>
                            <div class="single-project-content">
                                <div class="quote mt-30">
                                    <blockquote>
                                        <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut liber. venenatis faucibus. Nullam quis ante. Ut enim.</p>
                                    </blockquote>
                                </div>

                                <h3 class="title mt-35">Etiam ultricies nisi vel augue</h3>

                                <p class="text mt-20">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam
                                    eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                    nec odio et ante tincidunt tempus. Donec vitae sapien ut liber. venenatis faucibus. Nullam quis ante. Ut enim.</p>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="project-single-inner-img xs-mt-25 md-mt-30 mt-40">
                                        <img src="assets/images/projects/01.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="project-single-inner-img xs-mt-25 md-mt-30 mt-40">
                                        <img src="assets/images/projects/02.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="project-single-inner-img xs-mt-25 md-mt-30 mt-40">
                                        <img src="assets/images/projects/03.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <h3 class="title mt-35">Etiam rhoncus maecenas tempus</h3>

                            <p class="text mt-20">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget
                                dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio
                                et ante tincidunt tempus. Donec vitae sapien ut liber. venenatis faucibus. Nullam quis ante. Ut enim.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- project end -->

    </main>
{% endblock %}
