{% extends 'base.html' %}
{% block content %}

    <main>

        <!-- Banner start -->
        <div id="banner-section" data-jarallax='{"speed": 0.6}' style="background: url(static/images/banner-subpage.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrubms">
                                <h2>Zasady</h2>
                                <ul class="mt-20">
                                    <li class="mb-20"><a href="/">DMD</a></li>
                                    <li><span class="active">Zasady naszej witryny</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner end -->

        <!-- Faqs start -->
        <section id="faqs-section" class="mt-110 mb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="about-block section-title style-02">
                            <span class="subtitle">Nasze zasady</span>
                            <h2 class="title">Zasady Korzystania z Naszej <span> Strony Internetowej</span></h2>
                            <p class="text mt-30">
                                Aby zapewnić każdemu użytkownikowi satysfakcjonujące doświadczenie oraz utrzymać 
                                bezpieczeństwo i zgodność z naszymi standardami, opracowaliśmy poniższe zasady korzystania 
                                z naszej strony internetowej. Prosimy o dokładne zapoznanie się z nimi przed rozpoczęciem 
                                przeglądania czy korzystania z naszych usług.
                            </p>
                        </div>
                        <div class="accordion-items mt-30 pt-20">
                            <h4>Rejestracja i Konto Użytkownika.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Prosimy o uczciwe i dokładne podawanie informacji podczas procesu rejestracji. 
                                    Każdy użytkownik jest odpowiedzialny za utrzymanie bezpieczeństwa swojego konta.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Prawa Autorskie i Własność Intelektualna.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Szanujmy prawa autorskie oraz prawa własności intelektualnej. Zakazane jest kopiowanie, 
                                    rozpowszechnianie lub modyfikowanie zawartości strony bez naszej zgody.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Zasady Prywatności.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Dbamy o prywatność naszych użytkowników. Prosimy o zapoznanie się z naszą polityką 
                                    prywatności, aby zrozumieć, jak gromadzimy, używamy i chronimy dane osobowe.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Zachowanie na Stronie.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Wszyscy użytkownicy zobowiązani są do szanowania innych. Nie tolerujemy treści 
                                    obraźliwych, dyskryminacyjnych czy nielegalnych. Zastrzegamy sobie prawo do usuwania 
                                    takich treści.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Bezpieczeństwo Konta.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Zachęcamy do stosowania silnych haseł i regularnej zmiany hasła. Ochrona konta 
                                    przed nieautoryzowanym dostępem jest kluczowa.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Linki Zewnętrzne.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Nie ponosimy odpowiedzialności za treści na stronach zewnętrznych, do których prowadzą 
                                    linki na naszej stronie. Klikając na link, użytkownik akceptuje warunki korzystania z danej strony.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Aktualizacje i Modyfikacje.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Zastrzegamy sobie prawo do wprowadzania zmian w treści strony oraz zasad 
                                    korzystania. Użytkownicy zostaną poinformowani o istotnych aktualizacjach.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Komunikacja z Użytkownikami.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Regularnie będziemy informować użytkowników o istotnych sprawach za pośrednictwem 
                                    wiadomości e-mail lub ogłoszeń na stronie.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Odpowiedzialność Prawna.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Użytkownicy są zobowiązani do przestrzegania lokalnych i międzynarodowych 
                                    przepisów prawnych podczas korzystania z naszej strony.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-items mt-30">
                            <h4>Wsparcie Techniczne.</h4>
                            <div class="accordion-text mt-20">
                                <p>
                                    Nasz zespół wsparcia technicznego jest gotów pomóc w rozwiązaniu problemów 
                                    i udzielić odpowiedzi na pytania. Prosimy o kontakt, jeśli masz jakiekolwiek wątpliwości.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- Faqs end -->

    </main>

{% endblock %}